<!DOCTYPE html>
{% extends 'base.html' %}

{% block button %}
    <form action="/" method="GET">
        <input type="submit" value="Login" class="btn btn-primary" style="height:40px; width:150px; font-size: 20px;">
    </form>
{% endblock %}

{% block message %}
    {% if data.invalid_credentials %}
        <h3>
        <div class="alert alert-danger">
            <center>Passwords don't match!</center>
        </div>
        </h3>
    {% endif %}
{% endblock %}

{% block content %}
<center>
<h3>
<form action="/register/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    </br>
    <input type="submit" value="Register" class="btn btn-primary" style="height:40px; width:150px; font-size: 20px;">   
</form>
</h3>
</center>
{% endblock %}